<!-- Portfolio Modals -->
{% for project in site.portfolio %}
<div
  class="portfolio-modal modal fade"
  id="p{{ forloop.index }}"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl"></div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <div class="modal-body">
              <!-- Project Details Go Here -->
              <img
                class="img-fluid d-block mx-auto"
                src="{{ project.caption.thumbnail }}"
              />
              {% if project.entry1.subtitle %}
                {% if project.entry1.subtitle != 'CONTINUED' %}
                  <p class="item-intro text-muted">{{ project.entry1.subtitle }}</p>
                {% endif %}
              {% if project.entry1.image %}
                <div class="click-zoom" width="100%" height="100%">
                  <label><input type='checkbox'>{{ project.entry1.image }}</input></label>
                </div>
              {% endif %}
              {% if project.entry1.video %}
                <div style="width: 100%; height: 100%; position: relative;">
                  <p>{{ project.entry1.video }}</p>
                  <div style="width: 80px; height: 80px; position: absolute; opacity: 0; right: 0px; top: 0px;"> </div>
                </div>
              {% endif %}
              <p class="item-text">{{ project.entry1.text }}</p>
                {% if project.entry2.subtitle != 'CONTINUED' %}
                  <div id="line"><hr /></div>                
                {% endif %}
              {% endif %}
              {% if project.entry2.subtitle %}
                {% if project.entry2.subtitle != 'CONTINUED' %}
                  <p class="item-intro text-muted">{{ project.entry2.subtitle }}</p>
                {% endif %}
              {% if project.entry2.image %}
                <div class="click-zoom" width="100%" height="100%">
                  <label><input type='checkbox'>{{ project.entry2.image }}</input></label>
                </div>
              {% endif %}
              {% if project.entry2.video %}
                <div style="width: 100%; height: 100%; position: relative;">
                  <p>{{ project.entry2.video }}</p>
                  <div style="width: 80px; height: 80px; position: absolute; opacity: 0; right: 0px; top: 0px;"> </div>
                </div>
              {% endif %}
              <p class="item-text">{{ project.entry2.text }}</p>
                {% if project.entry3.subtitle != 'CONTINUED' %}
                  <div id="line"><hr /></div>                
                {% endif %}
              {% endif %}
              {% if project.entry3.subtitle %}
                {% if project.entry3.subtitle != 'CONTINUED' %}
                  <p class="item-intro text-muted">{{ project.entry3.subtitle }}</p>
                {% endif %}
              {% if project.entry3.image %}
                <div class="click-zoom" width="100%" height="100%">
                  <label><input type='checkbox'>{{ project.entry3.image }}</input></label>
                </div>
              {% endif %}
              {% if project.entry3.video %}
                <div style="width: 100%; height: 100%; position: relative;">
                  <p>{{ project.entry3.video }}</p>
                  <div style="width: 80px; height: 80px; position: absolute; opacity: 0; right: 0px; top: 0px;"> </div>
                </div>
              {% endif %}
              <p class="item-text">{{ project.entry3.text }}</p>
                {% if project.entry4.subtitle != 'CONTINUED' %}
                  <div id="line"><hr /></div>                
                {% endif %}
               {% endif %}
              {% if project.entry4.subtitle %}
                {% if project.entry4.subtitle != 'CONTINUED' %}
                  <p class="item-intro text-muted">{{ project.entry4.subtitle }}</p>
                {% endif %}
              {% if project.entry4.image %}
                <div class="click-zoom" width="100%" height="100%">
                  <label><input type='checkbox'>{{ project.entry4.image }}</input></label>
                </div>
              {% endif %}
              {% if project.entry4.video %}
                <div style="width: 100%; height: 100%; position: relative;">
                  <p>{{ project.entry4.video }}</p>
                  <div style="width: 80px; height: 80px; position: absolute; opacity: 0; right: 0px; top: 0px;"> </div>
                </div>
              {% endif %}
              <p class="item-text">{{ project.entry4.text }}</p>
                {% if project.entry5.subtitle != 'CONTINUED' %}
                  <div id="line"><hr /></div>                
                {% endif %}
               {% endif %}
              {% if project.entry5.subtitle %}
                {% if project.entry5.subtitle != 'CONTINUED' %}
                  <p class="item-intro text-muted">{{ project.entry5.subtitle }}</p>
                {% endif %}
              {% if project.entry5.image %}
                <div class="click-zoom" width="100%" height="100%">
                  <label><input type='checkbox'>{{ project.entry5.image }}</input></label>
                </div>
              {% endif %}
              {% if project.entry5.video %}
                <div style="width: 100%; height: 100%; position: relative;">
                  <p>{{ project.entry5.video }}</p>
                  <div style="width: 80px; height: 80px; position: absolute; opacity: 0; right: 0px; top: 0px;"> </div>
                </div>
              {% endif %}
              <p class="item-text">{{ project.entry5.text }}</p>
                {% if project.entry6.subtitle != 'CONTINUED' %}
                  <div id="line"><hr /></div>                
                {% endif %}
               {% endif %}
              {% if project.entry6.subtitle %}
                {% if project.entry6.subtitle != 'CONTINUED' %}
                  <p class="item-intro text-muted">{{ project.entry6.subtitle }}</p>
                {% endif %}
              {% if project.entry6.image %}
                <div class="click-zoom" width="100%" height="100%">
                  <label><input type='checkbox'>{{ project.entry6.image }}</input></label>
                </div>
              {% endif %}
              {% if project.entry6.video %}
                <div style="width: 100%; height: 100%; position: relative;">
                  <p>{{ project.entry6.video }}</p>
                  <div style="width: 80px; height: 80px; position: absolute; opacity: 0; right: 0px; top: 0px;"> </div>
                </div>
              {% endif %}
              <p class="item-text">{{ project.entry6.text }}</p>
                {% if project.entry7.subtitle != 'CONTINUED' %}
                  <div id="line"><hr /></div>                
                {% endif %}
               {% endif %}
              {% if project.entry7.subtitle %}
                {% if project.entry7.subtitle != 'CONTINUED' %}
                  <p class="item-intro text-muted">{{ project.entry7.subtitle }}</p>
                {% endif %}
              {% if project.entry7.image %}
                <div class="click-zoom" width="100%" height="100%">
                  <label><input type='checkbox'>{{ project.entry7.image }}</input></label>
                </div>
              {% endif %}
              {% if project.entry7.video %}
                <div style="width: 100%; height: 100%; position: relative;">
                  <p>{{ project.entry7.video }}</p>
                  <div style="width: 80px; height: 80px; position: absolute; opacity: 0; right: 0px; top: 0px;"> </div>
                </div>
              {% endif %}
              <p class="item-text">{{ project.entry7.text }}</p>
                {% if project.entry8.subtitle != 'CONTINUED' %}
                  <div id="line"><hr /></div>                
                {% endif %}
               {% endif %}
              {% if project.entry8.subtitle %}
                {% if project.entry8.subtitle != 'CONTINUED' %}
                  <p class="item-intro text-muted">{{ project.entry8.subtitle }}</p>
                {% endif %}
              {% if project.entry8.image %}
                <div class="click-zoom" width="100%" height="100%">
                  <label><input type='checkbox'>{{ project.entry8.image }}</input></label>
                </div>
              {% endif %}
              {% if project.entry8.video %}
                <div style="width: 100%; height: 100%; position: relative;">
                  <p>{{ project.entry8.video }}</p>
                  <div style="width: 80px; height: 80px; position: absolute; opacity: 0; right: 0px; top: 0px;"> </div>
                </div>
              {% endif %}
              <p class="item-text">{{ project.entry8.text }}</p>
                {% if project.entry9.subtitle != 'CONTINUED' %}
                  <div id="line"><hr /></div>                
                {% endif %}
               {% endif %}
              {% if project.entry9.subtitle %}
                {% if project.entry9.subtitle != 'CONTINUED' %}
                  <p class="item-intro text-muted">{{ project.entry9.subtitle }}</p>
                {% endif %}
              {% if project.entry9.image %}
                <div class="click-zoom" width="100%" height="100%">
                  <label><input type='checkbox'>{{ project.entry9.image }}</input></label>
                </div>
              {% endif %}
              {% if project.entry9.video %}
                <div style="width: 100%; height: 100%; position: relative;">
                  <p>{{ project.entry9.video }}</p>
                  <div style="width: 80px; height: 80px; position: absolute; opacity: 0; right: 0px; top: 0px;"> </div>
                </div>
              {% endif %}
              <p class="item-text">{{ project.entry9.text }}</p>
                {% if project.entry10.subtitle != 'CONTINUED' %}
                  <div id="line"><hr /></div>                
                {% endif %}
               {% endif %}
              {% if project.entry10.subtitle %}
                {% if project.entry10.subtitle != 'CONTINUED' %}
                  <p class="item-intro text-muted">{{ project.entry10.subtitle }}</p>
                {% endif %}
              {% if project.entry10.image %}
                <div class="click-zoom" width="100%" height="100%">
                  <label><input type='checkbox'>{{ project.entry10.image }}</input></label>
                </div>
              {% endif %}
              {% if project.entry10.video %}
                <div style="width: 100%; height: 100%; position: relative;">
                  <p>{{ project.entry10.video }}</p>
                  <div style="width: 80px; height: 80px; position: absolute; opacity: 0; right: 0px; top: 0px;"> </div>
                </div>
              {% endif %}
              <p class="item-text">{{ project.entry10.text }}</p>
                {% if project.entry11.subtitle != 'CONTINUED' %}
                  <div id="line"><hr /></div>                
                {% endif %}
               {% endif %}
              <button
                class="btn btn-primary"
                data-dismiss="modal"
                type="button"
              >
                <i class="fas fa-times"></i>
                {{ site.data.sitetext[site.locale].portfolio.closebutton |
                default: "Close Project" }}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}
