<!-- Portfolio Modals -->
{% for project in site.portfolio %}
<div
  class="portfolio-modal modal fade"
  id="p{{ forloop.index }}"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl"></div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <div class="modal-body">
              <!-- Project Details Go Here -->
              <img
                class="img-fluid d-block mx-auto"
                src="{{ project.caption.thumbnail }}"
              />
              {% if project.entry1.subtitle %}
              <p class="item-intro text-muted">{{ project.entry1.subtitle }}</p>
              <div  style="width: 720px; height: 480px; position: relative;">
                <p>{{ project.entry1.video }}</p>
                <div style="width: 80px; height: 80px; position: absolute; opacity: 0; right: 0px; top: 0px;"> </div>
              </div>
              <p class="item-text">project.entry1.text }}</p>
              <div id="line"><hr /></div>
              {% endif %}
              {% if project.entry2.subtitle %}
              <p class="item-intro text-muted">{{ project.entry2.subtitle }}</p>
              <div  style="width: 720px; height: 480px; position: relative;">
                <p>{{ project.entry2.video }}</p>
                <div style="width: 80px; height: 80px; position: absolute; opacity: 0; right: 0px; top: 0px;"> </div>
              </div>
              <p>{{ project.entry2.text }}</p>
              <div id="line"><hr /></div>
              {% endif %}
              {% if project.entry3.subtitle %}
              <p class="item-intro text-muted">{{ project.entry3.subtitle }}</p>
              <div  style="width: 720px; height: 480px; position: relative;">
                <p>{{ project.entry3.video }}</p>
                <div style="width: 80px; height: 80px; position: absolute; opacity: 0; right: 0px; top: 0px;"> </div>
              </div>
              <p>{{ project.entry3.text }}</p>
              <div id="line"><hr /></div>
              {% endif %}
              {% if project.entry4.subtitle %}
              <p class="item-intro text-muted">{{ project.entry4.subtitle }}</p>
              <div  style="width: 720px; height: 480px; position: relative;">
                <p>{{ project.entry4.video }}</p>
                <div style="width: 80px; height: 80px; position: absolute; opacity: 0; right: 0px; top: 0px;"> </div>
              </div><
              <p>{{ project.entry4.text }}</p>
              <div id="line"><hr /></div>
              {% endif %}
              {% if project.entry5.subtitle %}
              <p class="item-intro text-muted">{{ project.entry5.subtitle }}</p>
              <div  style="width: 720px; height: 480px; position: relative;">
                <p>{{ project.entry5.video }}</p>
                <div style="width: 80px; height: 80px; position: absolute; opacity: 0; right: 0px; top: 0px;"> </div>
              </div>
              <p>{{ project.entry5.text }}</p>
              <div id="line"><hr /></div>
              {% endif %}
              {% if project.entry6.subtitle %}
              <p class="item-intro text-muted">{{ project.entry6.subtitle }}</p>
              <div  style="width: 720px; height: 480px; position: relative;">
                <p>{{ project.entry6.video }}</p>
                <div style="width: 80px; height: 80px; position: absolute; opacity: 0; right: 0px; top: 0px;"> </div>
              </div>
              <p>{{ project.entry6.text }}</p>
              <div id="line"><hr /></div>
              {% endif %}
              {% if project.entry7.subtitle %}
              <p class="item-intro text-muted">{{ project.entry7.subtitle }}</p>
              <div  style="width: 720px; height: 480px; position: relative;">
                <p>{{ project.entry7.video }}</p>
                <div style="width: 80px; height: 80px; position: absolute; opacity: 0; right: 0px; top: 0px;"> </div>
              </div>
              <p>{{ project.entry7.text }}</p>
              <div id="line"><hr /></div>
              {% endif %}
              {% if project.entry8.subtitle %}
              <p class="item-intro text-muted">{{ project.entry8.subtitle }}</p>
              <div  style="width: 720px; height: 480px; position: relative;">
                <p>{{ project.entry8.video }}</p>
                <div style="width: 80px; height: 80px; position: absolute; opacity: 0; right: 0px; top: 0px;"> </div>
              </div>
              <p>{{ project.entry8.text }}</p>
              <div id="line"><hr /></div>
              {% endif %}
              <button
                class="btn btn-primary"
                data-dismiss="modal"
                type="button"
              >
                <i class="fas fa-times"></i>
                {{ site.data.sitetext[site.locale].portfolio.closebutton |
                default: "Close Project" }}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}
