<!-- Portfolio Modals -->
{% for project in site.portfolio %}
<div
  class="portfolio-modal modal fade"
  id="p{{ forloop.index }}"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl"></div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <div class="modal-body">
              <!-- Project Details Go Here -->
              <img
                class="img-fluid d-block mx-auto"
                src="{{ project.caption.thumbnail }}"
              />
              <p class="item-intro text-muted">{{ project.entry1.subtitle }}</p>
              <div style="position: relative; padding-bottom: 66%; width:100%; height:0">
                <p>{{ project.entry1.video }}</p>
              </div>
              <p>{{ project.entry1.text }}</p>
              <div id="line"><hr /></div>
              <p class="item-intro text-muted">{{ project.entry2.subtitle }}</p>
              <p>{{ project.entry2.video }}</p>
              <p>{{ project.entry2.text }}</p>
              <div id="line"><hr /></div>
              <p class="item-intro text-muted">{{ project.entry3.subtitle }}</p>
              <p>{{ project.entry3.video }}</p>
              <p>{{ project.entry3.text }}</p>
              <div id="line"><hr /></div>
              <button
                class="btn btn-primary"
                data-dismiss="modal"
                type="button"
              >
                <i class="fas fa-times"></i>
                {{ site.data.sitetext[site.locale].portfolio.closebutton |
                default: "Close Project" }}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}
